body[data-theme='light'] {
  --color-primary: #FF6600;
}

body[data-theme='UINNOVATE'] {
  --color-primary: #FF5A80;
}

body[data-theme='UIMPACT'] {
  --color-primary: #46D6A1;
}

body[data-theme='PINNOVATE'] {
  --color-primary: #6C7DEF;
}