@import '~antd/dist/antd.css';

.main-home {
    font-family: 'Montserrat';
    font-style: normal;

    .intro-part {
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 192px 0;
        // border: solid;
        z-index: 2;
        position: relative;
        background: #FFFFFF;

        .text-of-intro {
            margin-left: 99px;
            margin-top: 150px;

            .title {
                font-weight: 640;
                font-weight: 700;
                font-size: 30px;
                line-height: 56px;
                color: #1E1E1E;
            }

            .detail {
                margin-top: 10px;
                margin-bottom: 27px;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #858585;
            }

            .button-start {
                background: linear-gradient(308.85deg, #FF6600 0%, #FF9955 100%);
                border-radius: 30px;
                color: #FFFFFF;
                border: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;

            }

            .button-start:hover {
                font-weight: bold;
                background: linear-gradient(308.85deg, #FF6600 0%, #fa7b26 100%);
                transition: 0.3s all;
            }
        }

        .image-of-intro {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: 20px;

            img {
                height: 70%;
            }
        }
    }

    .right-of-user {
        background: #EEF2F6;
        z-index: 1;
        position: relative;
        margin-top: 40px;

        .title {
            text-align: center;
            font-weight: 640;
            font-size: 30px;
            padding-bottom: 40px;
        }

        .right-lst {
            display: flex;
            margin: 10px 20px;
            justify-content: center;
            margin-bottom: 50px;

            .lst-item {
                width: 200px;
                text-align: center;
                margin: 10px;
                border-radius: 15px;
                background-color: #FF9955;
                padding: 20px;
                position: relative;

                .lst-item-image {
                    position: absolute;
                    top: -50px;
                    left: -20px;
                    height: 100px;
                    width: 100px;
                }

                .lst-item-title {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 32px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 30px;
                }

                .lst-item-content {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 32px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .lst-item:nth-child(1) {
                background-color: #a027ff;

                .lst-item-image {
                    top: -60px;
                    left: -20px;
                    width: 109px;
                    height: 100px;
                }
            }

            .lst-item:nth-child(2) {
                background-color: #20c3b5;

                .lst-item-image {
                    top: -55px;
                    left: -45px;
                    width: 156px;
                    height: 100px;
                }
            }

            .lst-item:nth-child(3) {
                background-color: #ff6e83;

                .lst-item-image {
                    top: -53px;
                    left: -15px;
                    width: 68px;
                    height: 100px;
                }
            }

            .lst-item:nth-child(4) {
                background-color: #446cfa;

                .lst-item-image {
                    top: -42px;
                    left: -15px;
                    width: 80px;
                    height: 80px;
                }
            }

            .lst-item:nth-child(5) {
                background-color: #fda932;

                .lst-item-image {
                    width: 131px;
                    height: 72px;
                    top: -40px;
                    left: -20px;
                }
            }
        }
    }

    .how-to-use {
        display: flex;
        z-index: 2;
        position: relative;
        justify-content: space-around;
        border-radius: 0 192px 192px 0;
        background: #FFFFFF;
        padding: 40px;
        // margin-bottom: -300px;

        .tutorial-image {
            display: flex;
            justify-content: start;
            align-items: center;

            img {
                height: 80%;
            }
        }

        .content {
            margin-top: 30px;

            .title {
                font-weight: 700;
                font-size: 30px;
                line-height: 56px;
                color: #1E1E1E;
            }

            .subtitle {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #4E4E4E;
            }

            .step-lst {
                .lst-item {
                    display: flex;
                    align-items: center;
                    margin: 20px 0px;

                    .img-item {
                        margin-right: 20px;
                    }

                    .text-item {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 32px;
                        color: #4E4E4E;

                    }
                }
            }
        }
    }

    .gmap_iframe {
        height: 500px;
        width: 100%;
        border-radius: 40px;
    }

    .our-partner {
        // margin-top: -200px;
        z-index: 2;
        position: relative;
        border-radius: 0 192px 0 0;
        background: #FFFFFF;
        padding-bottom: 80px;

        .title {
            padding-top: 50px;
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            line-height: 56px;
            color: #1E1E1E;
        }

        .partner-lst {
            max-width: 1200px;
            padding: 0px 50px;
            margin: 50px auto;
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .item {
                background-color: #EEF2F6;
                color: #858585;
                padding: 1rem;
                height: 4rem;
            }
        }
    }
}

@media (min-width: 1300px) {
    .main-home {
        .intro-part {
            padding-bottom: 50px;

            .image-of-intro {
                img {
                    margin-left: -100px !important;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .main-home {
        .intro-part {
            padding-bottom: 50px;

            .image-of-intro {
                img {
                    height: 70%;
                    margin-left: -275px !important;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .main-home {
        .intro-part {
            padding-bottom: 50px;

            .image-of-intro {
                img {
                    height: 50%;
                    margin-left: -400px !important;
                }
            }
        }

        .how-to-use {
            .tutorial-image {
                img {
                    height: 60%;
                    margin-right: -300px;
                }
            }
        }

        .right-of-user {
            .right-lst {
                .lst-item {
                    .lst-item-title {
                        font-size: 14px;
                    }

                    .lst-item-content {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .main-home {
        .intro-part {
            padding-bottom: 50px;

            .text-of-intro {
                margin: 100px 25px 50px 25px;
            }

            .image-of-intro {
                display: none !important;
            }
        }

        .how-to-use {
            .tutorial-image {
                display: none !important;
            }
        }


        .right-of-user {
            .right-lst {
                .lst-item {
                    padding: 10px;

                    .lst-item-title {
                        font-size: 12px;
                    }

                    .lst-item-content {
                        font-size: 11px;
                    }
                }

                .lst-item:nth-child(1) {
                    background-color: #a027ff;

                    .lst-item-image {
                        top: -35px;
                        left: -20px;
                        width: calc(100px - 20px);
                        height: calc(100px - 20px);
                    }
                }

                .lst-item:nth-child(2) {
                    background-color: #20c3b5;

                    .lst-item-image {
                        top: -30px;
                        left: -45px;
                        width: calc(156px - 20px);
                        height: calc(100px - 20px);
                    }
                }

                .lst-item:nth-child(3) {
                    background-color: #ff6e83;

                    .lst-item-image {
                        top: -38px;
                        left: -10px;
                        width: calc(68px - 10px);
                        height: calc(100px - 10px);
                    }
                }

                .lst-item:nth-child(4) {
                    background-color: #446cfa;

                    .lst-item-image {
                        top: calc(-42px + 20px);
                        left: -15px;
                        width: calc(80px - 20px);
                        height: calc(80px - 20px);
                    }
                }

                .lst-item:nth-child(5) {
                    background-color: #fda932;

                    .lst-item-image {
                        top: calc(-40px + 20px);
                        left: -20px;
                        width: calc(131px - 20px);
                        height: calc(72px - 20px);
                    }
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .main-home {
        .intro-part {
            padding-bottom: 50px;

            .text-of-intro {
                margin: 100px 25px 50px 25px;

                .title {
                    font-size: 20px;
                }

                .detail {
                    font-size: 12px;
                }

                .button-start {
                    font-size: 10px;
                }
            }

            .image-of-intro {
                display: none !important;
            }
        }

        .how-to-use {
            .content {
                .title {
                    font-size: 20px;
                }

                .subtitle {
                    font-size: 14px;
                }

                .step-lst {
                    .lst-item {
                        .text-item {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .right-of-user {
            z-index: 3;

            .right-lst {
                flex-direction: column;

                .lst-item {
                    width: 100%;

                    .lst-item-title {
                        font-size: 12px;
                        margin-top: 0 !important;
                    }

                    .lst-item-content {
                        font-size: 11px;
                    }

                    .lst-item-image {
                        display: none;
                    }
                }
            }
        }

        .our-partner {
            .title {
                font-size: 25px;
            }

        }
    }
}

@media (max-width: 400px) {
    .main-home {
        .intro-part {
            padding-bottom: 50px;

            .text-of-intro {
                margin: 100px 25px 50px 25px;

                .title {
                    font-size: 20px;
                }

                .detail {
                    font-size: 12px;
                }

                .button-start {
                    font-size: 10px;
                }
            }

            .image-of-intro {
                display: none !important;
            }
        }

        .right-of-user {
            z-index: 3;

            .right-lst {
                flex-direction: column;

                .lst-item {
                    width: 100%;

                    .lst-item-title {
                        font-size: 12px;
                        margin-top: 0 !important;
                    }

                    .lst-item-content {
                        font-size: 11px;
                    }

                    .lst-item-image {
                        display: none;
                    }
                }
            }
        }

        .our-partner {
            .title {
                font-size: 20px;
            }

            .partner-lst {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }
        }
    }
}